<form action='/' method='post' class="form-horizontal">

<input class="span12" type="text" name='firstname' placeholder="Firstname" autofocus>

<input class="span12" type="text" name='lastname' placeholder="Lastname">

<div class="input-prepend">
  <span class="add-on">Table #</span>
  <input class="span2" id="prependedInput" type="text" name='table' placeholder="4">
</div>

<input class="btn btn-large btn-info" type='submit' value='Order'>
